.back{
    width: 100%;
    height:100vh;
    opacity: 0.7;
    position: absolute
}
.register_div{
    background-color: white;
    height:70vh;position: relative;
    margin-top: 20vh;
    border-radius: 6px;
    padding-top: 1vh;
}


/* Full-width input fields */
input[type=text], input[type=password] {
    height: 5vh;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 15px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 6px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
label{
    margin-right: 10%;
}
.header_txt{
    margin-right: 10%;
}
.user_mode{
    alignment: center;
    width: 20%;
    color: white;
    text-align: center;
    font-family: "B Nazanin";
    font-weight: bold;
    font-size: 100%;
    margin-top: 2vh;
    background-color:cadetblue;
    outline: none;
    height: 40px;
    border: none;
    border-radius: 5px;
   }
.user_mode:hover{
    box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.37), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    transition: 0.3s;

}
